

<!-- Sidebar -->
<%- include('./Component/Sidebar.ejs') %>
<!-- Sidebar End -->

<div class="main-panel">
	 <!-- Navbar -->
   <%- include('./Component/Header.ejs') %>
<%

%>
   <div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header d-flex card-header-primary">
                  <h4 class="card-title mt-2 mr-3">View Album</h4>
                  <ul class="nav nav-tabs" data-tabs="tabs">
            
                   
                  </ul>
                  <p class="card-category">
                    <!-- Recording Information -->
                  </p>
                </div>
                <div class="card-body">
                    <div class="row" id="row_two" >
                        <div class="col-md-12 table-responsive">
                            <table class="table" id="example_0" class="table  " style="width:100%; border: none;" >
                                <thead>
                                    <tr>
                                        <th> Sn. </th>
                                        <th>Album Name</th>
                                        <th>Id</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%
                                    albu.map(item=>{
                                        %>
                                      
                                        <tr>
                                            <td>1</td>
                                            <td><%=item?.albumName%></td>
                                            <td><%=item?.collectionId%></td>
                                        </tr>
                                        <%
                                    })
                                   %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
              </div>
            </div>
           
          </div> 


    </div>
  </div>
      <%- include('./Component/Footer.ejs') %>
 
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>

<script>
$(document).ready(function(){
    $('#example_0').DataTable();
    $(".dashboard_li_album_list").addClass("active");
 

})

</script>