<!-- Sidebar -->
<%- include('./SuperAdminComponent/Sidebar.ejs') %>
  <!-- Sidebar End -->

  <div class="main-panel">
    <!-- Navbar -->
    <%- include('./SuperAdminComponent/Header.ejs') %>

      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row dashboard_status_row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">paid</i>
                  </div>
                  <p class="card-category super-rec">Todays Revenue</p>
                  <h3 class="card-title super-ad">$<%=data.todaysSelling%>
                  </h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <!-- <i class="material-icons">date_range</i> Last 24 Hours -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">list_alt</i>
                  </div>
                  <p class="card-category super-rec">Todays Order</p>
                  <h3 class="card-title super-ad">
                    <%=data.allTodaysCount%>
                  </h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <!-- <i class="material-icons">local_offer</i> Tracked from Github -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-primary card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">library_music</i>
                  </div>
                  <p class="card-category super-rec">Draft Music</p>
                  <h3 class="card-title super-ad">
                    <%=data.unpublishedmusicCount.length%>
                  </h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <!-- <i class="material-icons">local_offer</i> Tracked from Github -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">album</i>
                  </div>
                  <p class="card-category super-rec">Live Music</p>
                  <h3 class="card-title super-ad">
                    <%=data.publishedMusicCount.length%>
                  </h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <!-- <i class="material-icons">local_offer</i> Tracked from Github -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Instruction -->
          <div class="row super-admin-hero ">
            <div class="col-md-12 bg-muted-dash rounded shadow">
              <canvas id="myChart" height="100%">

              </canvas>

            </div>
          </div>
          <!-- Instruction -->


        </div>
      </div>
      <%- include('./SuperAdminComponent/Footer.ejs') %>

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    $(document).ready(function () {
      $(".dashboard_li").addClass("active");
    })
    async function getOrderData() {
      let data = await fetch('/admin/order/graph');
      let aa = await data.json();
      let { dates, orderData } = aa.data;
      console.log(aa.data);
      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: dates,
          datasets: [{
            label: 'Orders',
            data: orderData,
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)',
              'rgba(255, 99, 132, 0.2)'
            ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)',
              'rgba(255, 99, 132, 1)'
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    }
//getOrderData()
  </script>